.frontpage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputForm {
  display: flex;
  align-items: center;
  /* border: 1px solid white; */
  width: 25%;
  justify-content: space-around;
}

.frontpageTitle {
  font-family: "ubuntu";
  font-size: 3.7rem;
  color: darkcyan;
}

.petInput {
  font-size: 1.4rem;
  border-radius: 0.9rem;
  padding: 0.55rem;
  border: 0.1rem solid rgba(104, 117, 114, 0.5);
  background-color: rgb(40, 54, 56);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.petButton {
  margin-left: 1.1rem;
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  padding: 0.5rem 0.6rem;
  background-color: rgb(30, 53, 53);
  color: rgb(37, 143, 108);
  border: 1px solid rgb(5, 90, 83);
  border-radius: 3px;
}

.petButton:hover,
.petButton:active {
  cursor: pointer;
  box-shadow: 2px 2px 10px darkcyan;
  color: rgb(27, 109, 82);
}

/* quiz */

.firstQuestion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  font-size: 1.7rem;
  letter-spacing: 0.025rem;
  margin-bottom: 2rem;
}

.petName {
  color: rgb(53, 190, 190);
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

.optionBtn {
  border: 2.5px solid rgb(71, 69, 69);
  color: darkcyan;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  margin: 0 0.5rem;
  border-radius: 30px;
  background-color: rgb(43, 49, 49);
  box-shadow: 1.5px 1.5px 3px rgb(34, 77, 78);
}

.optionBtn:hover {
  background-color: rgb(46, 65, 65);
  box-shadow: 3px 3px 5px rgb(42, 111, 112);
}
