* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 100vw;
  height: 100svh;
}

/* component transition */

.welcomeTitles {
  font-size: 4rem;
  font-family: "Ubuntu";
}

.titleTwo {
  color: darkcyan;
}

.titleOne,
.titleTwo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.petOwnersNotebook {
  color: rgb(36, 173, 173);
}

.startBtn {
  font-size: 1.5rem;
  padding: 0.5rem 0.8rem;
  border: 3px double rgba(179, 179, 179, 0.8);
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 10px rgba(2, 131, 103, 0.8);
  color: rgb(174, 209, 209);
}

.startBtn:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* transition */

.titleOne,
.titleTwo,
.startBtn {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s linear 0.5s;
}

.titleOne.show,
.titleTwo.show,
.startBtn {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
