* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100svh;
}

.container {
  display: flex;
  text-align: center;
}

/* component transition */

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 3.5rem;
}

.petOwnersNotebook {
  color: darkcyan;
}

/* transition */

.word {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.word.show {
  opacity: 1;
}
